<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floater</key>
	<dict>
		<key>frames</key>
		<array>
			<string>floater_0.png</string>
			<string>floater_1.png</string>
			<string>floater_2.png</string>
			<string>floater_3.png</string>
			<string>floater_4.png</string>
			<string>floater_5.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>carrot1</key>
	<dict>
		<key>frames</key>
		<array>
			<string>carrot_obj_0.png</string>
			<string>carrot_obj_1.png</string>
			<string>carrot_obj_2.png</string>
			<string>carrot_obj_3.png</string>
			<string>carrot_obj_4.png</string>
			<string>carrot_obj_5.png</string>
			<string>carrot_obj_6.png</string>
			<string>carrot_obj_7.png</string>
			<string>carrot_obj_8.png</string>
			<string>carrot_obj_9.png</string>
			<string>carrot_obj_10.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>carrot2</key>
	<dict>
		<key>frames</key>
		<array>
			<string>carrot_obj_3.png</string>
			<string>carrot_obj_4.png</string>
			<string>carrot_obj_5.png</string>
			<string>carrot_obj_6.png</string>
			<string>carrot_obj_7.png</string>
			<string>carrot_obj_8.png</string>
			<string>carrot_obj_9.png</string>
			<string>carrot_obj_10.png</string>
			<string>carrot_obj_0.png</string>
			<string>carrot_obj_1.png</string>
			<string>carrot_obj_2.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>carrot3</key>
	<dict>
		<key>frames</key>
		<array>
			<string>carrot_obj_6.png</string>
			<string>carrot_obj_7.png</string>
			<string>carrot_obj_8.png</string>
			<string>carrot_obj_9.png</string>
			<string>carrot_obj_10.png</string>
			<string>carrot_obj_0.png</string>
			<string>carrot_obj_1.png</string>
			<string>carrot_obj_2.png</string>
			<string>carrot_obj_3.png</string>
			<string>carrot_obj_4.png</string>
			<string>carrot_obj_5.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>cradle_swing</key>
	<dict>
		<key>frames</key>
		<array>
			<string>cradle_swing_0.png</string>
			<string>cradle_swing_1.png</string>
			<string>cradle_swing_2.png</string>
			<string>cradle_swing_3.png</string>
			<string>cradle_swing_4.png</string>
			<string>cradle_swing_5.png</string>
			<string>cradle_swing_6.png</string>
			<string>cradle_swing_7.png</string>
			<string>cradle_swing_8.png</string>
			<string>cradle_swing_9.png</string>
			<string>cradle_swing_10.png</string>
			<string>cradle_swing_11.png</string>
			<string>cradle_swing_12.png</string>
			<string>cradle_swing_13.png</string>
			<string>cradle_swing_14.png</string>
			<string>cradle_swing_15.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>cradle_succeed</key>
	<dict>
		<key>frames</key>
		<array>
			<string>cradle_succeed_0.png</string>
			<string>cradle_succeed_1.png</string>
			<string>cradle_succeed_2.png</string>
			<string>cradle_succeed_3.png</string>
			<string>cradle_succeed_4.png</string>
			<string>cradle_succeed_5.png</string>
			<string>cradle_succeed_6.png</string>
			<string>cradle_succeed_7.png</string>
			<string>cradle_succeed_8.png</string>
			<string>cradle_succeed_9.png</string>
			<string>cradle_succeed_10.png</string>
			<string>cradle_succeed_11.png</string>
			<string>cradle_succeed_12.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>baby_blink</key>
	<dict>
		<key>frames</key>
		<array>
			<string>baby_blink_0.png</string>
			<string>baby_blink_1.png</string>
			<string>baby_blink_2.png</string>
			<string>baby_blink_3.png</string>
			<string>baby_blink_4.png</string>
			<string>baby_blink_5.png</string>
			<string>baby_blink_6.png</string>
			<string>baby_blink_7.png</string>
			<string>baby_blink_8.png</string>
			<string>baby_blink_9.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>baby_dead</key>
	<dict>
		<key>frames</key>
		<array>
			<string>baby_dead_0.png</string>
			<string>baby_dead_1.png</string>
			<string>baby_dead_2.png</string>
			<string>baby_dead_3.png</string>
			<string>baby_dead_4.png</string>
			<string>baby_dead_5.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>baby_eaten</key>
	<dict>
		<key>frames</key>
		<array>
			<string>baby_eaten_0.png</string>
			<string>baby_eaten_1.png</string>
			<string>baby_eaten_2.png</string>
			<string>baby_eaten_3.png</string>
			<string>baby_eaten_4.png</string>
			<string>baby_eaten_5.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>mom_sweat</key>
	<dict>
		<key>frames</key>
		<array>
			<string>mom_sweat_0.png</string>
			<string>mom_sweat_1.png</string>
			<string>mom_sweat_2.png</string>
			<string>mom_sweat_3.png</string>
			<string>mom_sweat_4.png</string>
			<string>mom_sweat_5.png</string>
			<string>mom_sweat_6.png</string>
			<string>mom_sweat_7.png</string>
			<string>mom_sweat_8.png</string>
			<string>mom_sweat_9.png</string>
			<string>mom_sweat_10.png</string>
			<string>mom_sweat_11.png</string>
			<string>mom_sweat_12.png</string>
			<string>mom_sweat_13.png</string>
			<string>mom_sweat_14.png</string>
			<string>mom_sweat_15.png</string>
			<string>mom_sweat_16.png</string>
			<string>mom_sweat_17.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>mom_sad</key>
	<dict>
		<key>frames</key>
		<array>
			<string>mom_sad_0.png</string>
			<string>mom_sad_1.png</string>
			<string>mom_sad_2.png</string>
			<string>mom_sad_3.png</string>
			<string>mom_sad_4.png</string>
			<string>mom_sad_5.png</string>
			<string>mom_sad_6.png</string>
			<string>mom_sad_7.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>mom_happy</key>
	<dict>
		<key>frames</key>
		<array>
			<string>mom_happy_0.png</string>
			<string>mom_happy_1.png</string>
			<string>mom_happy_2.png</string>
			<string>mom_happy_3.png</string>
			<string>mom_happy_4.png</string>
			<string>mom_happy_5.png</string>
			<string>mom_happy_6.png</string>
			<string>mom_happy_7.png</string>
			<string>mom_happy_8.png</string>
			<string>mom_happy_9.png</string>
			<string>mom_happy_10.png</string>
			<string>mom_happy_11.png</string>
			<string>mom_happy_12.png</string>
			<string>mom_happy_13.png</string>
			<string>mom_happy_14.png</string>
			<string>mom_happy_15.png</string>
			<string>mom_happy_16.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>mom_regular</key>
	<dict>
		<key>frames</key>
		<array>
			<string>mom_regular_0.png</string>
			<string>mom_regular_1.png</string>
			<string>mom_regular_2.png</string>
			<string>mom_regular_3.png</string>
			<string>mom_regular_4.png</string>
			<string>mom_regular_5.png</string>
			<string>mom_regular_6.png</string>
			<string>mom_regular_7.png</string>
			<string>mom_regular_8.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>mom_twist</key>
	<dict>
		<key>frames</key>
		<array>
			<string>mom_twist_0.png</string>
			<string>mom_twist_1.png</string>
			<string>mom_twist_2.png</string>
			<string>mom_twist_3.png</string>
			<string>mom_twist_4.png</string>
			<string>mom_twist_5.png</string>
			<string>mom_twist_6.png</string>
			<string>mom_twist_7.png</string>
			<string>mom_twist_8.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>mom_handkerchief</key>
	<dict>
		<key>frames</key>
		<array>
			<string>mom_handkerchief_0.png</string>
			<string>mom_handkerchief_1.png</string>
			<string>mom_handkerchief_2.png</string>
			<string>mom_handkerchief_3.png</string>
			<string>mom_handkerchief_4.png</string>
			<string>mom_handkerchief_5.png</string>
			<string>mom_handkerchief_6.png</string>
			<string>mom_handkerchief_7.png</string>
			<string>mom_handkerchief_8.png</string>
			<string>mom_handkerchief_9.png</string>
			<string>mom_handkerchief_10.png</string>
			<string>mom_handkerchief_11.png</string>
			<string>mom_handkerchief_12.png</string>
			<string>mom_handkerchief_13.png</string>
			<string>mom_handkerchief_14.png</string>
			<string>mom_handkerchief_15.png</string>
			<string>mom_handkerchief_16.png</string>
			<string>mom_handkerchief_17.png</string>
			<string>mom_handkerchief_18.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>blower_right</key>
	<dict>
		<key>frames</key>
		<array>
			<string>blower_right_0.png</string>
			<string>blower_right_1.png</string>
			<string>blower_right_2.png</string>
			<string>blower_right_3.png</string>
			<string>blower_right_3.png</string>
			<string>blower_right_4.png</string>
			<string>blower_right_4.png</string>
			<string>blower_right_5.png</string>
			<string>blower_right_6.png</string>
		</array>
		<key>delay</key>
		<real>0.02</real>
	</dict>
	<key>drop_carrot_one</key>
	<dict>
		<key>frames</key>
		<array>
			<string>drop_carrot_one_0.png</string>
			<string>drop_carrot_one_1.png</string>
			<string>drop_carrot_one_2.png</string>
			<string>drop_carrot_one_3.png</string>
			<string>drop_carrot_one_4.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_5.png</string>
			<string>drop_carrot_one_4.png</string>
			<string>drop_carrot_one_3.png</string>
			<string>drop_carrot_one_2.png</string>
			<string>drop_carrot_one_1.png</string>
		</array>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>drop_carrot_two</key>
	<dict>
		<key>frames</key>
		<array>
			<string>drop_carrot_two_0.png</string>
			<string>drop_carrot_two_1.png</string>
			<string>drop_carrot_two_2.png</string>
			<string>drop_carrot_two_3.png</string>
			<string>drop_carrot_two_4.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_5.png</string>
			<string>drop_carrot_two_4.png</string>
			<string>drop_carrot_two_3.png</string>
			<string>drop_carrot_two_2.png</string>
			<string>drop_carrot_two_1.png</string>
		</array>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>drop_carrot_three</key>
	<dict>
		<key>frames</key>
		<array>
			<string>drop_carrot_three_0.png</string>
			<string>drop_carrot_three_1.png</string>
			<string>drop_carrot_three_2.png</string>
			<string>drop_carrot_three_3.png</string>
			<string>drop_carrot_three_4.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_5.png</string>
			<string>drop_carrot_three_4.png</string>
			<string>drop_carrot_three_3.png</string>
			<string>drop_carrot_three_2.png</string>
			<string>drop_carrot_three_1.png</string>
		</array>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>carrot_glow</key>
	<dict>
		<key>frames</key>
		<array>
			<string>carrot_glow_0.png</string>
			<string>carrot_glow_1.png</string>
			<string>carrot_glow_2.png</string>
			<string>carrot_glow_3.png</string>
			<string>carrot_glow_4.png</string>
			<string>carrot_glow_5.png</string>
			<string>carrot_glow_6.png</string>
			<string>carrot_glow_7.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>credit_show</key>
	<dict>
		<key>frames</key>
		<array>
			<string>credit_0.png</string>
			<string>credit_1.png</string>
			<string>credit_2.png</string>
			<string>credit_3.png</string>
			<string>credit_4.png</string>
			<string>credit_5.png</string>
			<string>credit_6.png</string>
		</array>
		<key>delay</key>
		<real>0.05</real>
	</dict>
	<key>credit_hide</key>
	<dict>
		<key>frames</key>
		<array>
			<string>credit_6.png</string>
			<string>credit_5.png</string>
			<string>credit_4.png</string>
			<string>credit_3.png</string>
			<string>credit_2.png</string>
			<string>credit_1.png</string>
			<string>credit_0.png</string>
		</array>
		<key>delay</key>
		<real>0.05</real>
	</dict>
	<key>owl_move</key>
	<dict>
		<key>frames</key>
		<array>
			<string>owl_move_0.png</string>
			<string>owl_move_1.png</string>
			<string>owl_move_2.png</string>
			<string>owl_move_3.png</string>
			<string>owl_move_4.png</string>
			<string>owl_move_5.png</string>
			<string>owl_move_6.png</string>
			<string>owl_move_7.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>owl_sleep</key>
	<dict>
		<key>frames</key>
		<array>
			<string>owl_sleep_0.png</string>
			<string>owl_sleep_1.png</string>
			<string>owl_sleep_2.png</string>
			<string>owl_sleep_3.png</string>
			<string>owl_sleep_4.png</string>
			<string>owl_sleep_5.png</string>
			<string>owl_sleep_6.png</string>
			<string>owl_sleep_7.png</string>
			<string>owl_sleep_8.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>owl_wink</key>
	<dict>
		<key>frames</key>
		<array>
			<string>owl_wink_0.png</string>
			<string>owl_wink_1.png</string>
			<string>owl_wink_2.png</string>
			<string>owl_wink_3.png</string>
			<string>owl_wink_4.png</string>
			<string>owl_wink_5.png</string>
			<string>owl_wink_6.png</string>
			<string>owl_wink_7.png</string>
			<string>owl_wink_8.png</string>
		</array>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>btn_lock</key>
	<dict>
		<key>frames</key>
		<array>
			<string>btn_lock_0.png</string>
			<string>btn_lock_1.png</string>
			<string>btn_lock_2.png</string>
			<string>btn_lock_3.png</string>
			<string>btn_lock_4.png</string>
		</array>
		<key>delay</key>
		<string>0.05</string>
	</dict>
</dict>
</plist>
