<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1350},{86,162}}</string>
                <key>offset</key>
                <string>{208,-396}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{549,827},{86,162}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>credit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1350},{238,462}}</string>
                <key>offset</key>
                <string>{158,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,527},{238,462}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>credit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1438},{346,568}}</string>
                <key>offset</key>
                <string>{104,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,404},{346,568}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>credit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{586,702}}</string>
                <key>offset</key>
                <string>{-6,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,270},{586,702}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>credit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{586,648}}</string>
                <key>offset</key>
                <string>{-12,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,269},{586,648}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>credit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,752},{514,596}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,256},{514,596}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>credit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{706,748}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,138},{706,748}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>credit.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7789c479eddf9ba72dc230e2b3a193cb$</string>
            <key>textureFileName</key>
            <string>credit.png</string>
        </dict>
    </dict>
</plist>
