<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,335},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,405},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,68}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,399},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>back_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,419},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,80},{94,93}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{94,93}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>btn_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,175},{90,91}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{90,91}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>carrot_collected_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,463},{128,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>carrot_collected_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,399},{128,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>carrot_collected_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{128,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>carrot_collected_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{128,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>gameover_carrot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,274},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>gameover_carrot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,338},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>gameover_carrot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,277},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>gameover_carrot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,216},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>level_btn_carrot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_0_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,216},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,80},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,138},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,80},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>level_btn_carrot_3_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>long_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{341,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,76}}</string>
                <key>sourceSize</key>
                <string>{341,76}</string>
            </dict>
            <key>long_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,76}}</string>
                <key>sourceSize</key>
                <string>{343,76}</string>
            </dict>
            <key>menu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,195},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>menu_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,267},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>music_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,453},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>music_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>no_music_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,370},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>no_music_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,418},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>no_sound_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,352},{132,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,79}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>no_sound_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,433},{132,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,79}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>replay_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,352},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>replay_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,434},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>sound_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,287},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>sound_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,335},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:794d340fc1845dee0b16aff551f72d55$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
